In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]


daftarPerusahaan=[]

for company in company_detail_list :
    daftarPerusahaan.append(company["name"])
daftarPerusahaan.sort(reverse=True)

jawabanNo1 = []
for perusahaan in daftarPerusahaan :
    jawabanNo1.append({"name" :perusahaan})
print(jawabanNo1)


print("")


#no 2
for company in company_detail_list :
    print(company["name"] + ": "+company["domain"]+" ("+company["country"]+")")


print("")


#no3
jawabanNo3 = {}

companyToDomain={}
for company in company_detail_list :
    companyToDomain[company["name"]] = company["domain"]
    jawabanNo3[company["domain"]] = []

for employee in employee_detail_list:
    domain = companyToDomain[employee["company"]]
    jawabanNo3[domain].append(employee["full_name"])
print(jawabanNo3)


print("")


#no4
jawabanNo4 = []

companyToCountry={}
for company in company_detail_list :
    companyToCountry[company["name"]] = company["country"]

for employee in employee_detail_list :
    country = companyToCountry[employee["company"]]
    jawabanNo4.append({
        "full_name": employee['full_name'],
        "company": employee["company"],
        "country": country
    })

print(jawabanNo4)


print("")


#no5
jawabanNo5 = []
company_employee_nationality={}
for company in company_detail_list :
    company_employee_nationality[company["name"]] = {}

for employee in employee_detail_list :
    nationality = employee["nationality"]
    company = employee["company"]
    company_employee_nationality[company][nationality] = 0

for employee in employee_detail_list :
    nationality = employee["nationality"]
    company = employee["company"]
    company_employee_nationality[company][nationality] += 1

print(company_employee_nationality)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

{'Company 1': {'Australia': 2, 'United Kingdom': 1}, 'Company 2': {'United States': 1, 'Hong Kong': 1}, 'Company 3': {'United States': 2}}